Daily_News_TGchannel/daily_news_tgchannel.json
{
  "name": "Daily_News_TGchannel",
  "nodes": [
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "=Ты - агент-исследователь контента.\n\nЗАДАЧА: Сгенерируй самую актуальную и интересную тему для статьи в нише {{ $json.topic }}.\n\nТРЕБОВАНИЯ:\n- Тема должна быть популярны сейчас\n- Тема должна быть конкретной и практичной\n- Формат ответа: простой JSON массив\n\nПРИМЕР ОТВЕТА:\n{\n  \"topic\": [\n    \"Как использовать AI для автоматизации email-маркетинга\"\n  ]\n}\n\nВерни ТОЛЬКО JSON, без дополнительного текста.\n "
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [-208, 32],
      "id": "399c6548-1464-4f32-bc7f-a0aacf1d059a",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Найди актуальную информацию по следующей теме:\n\n{{ $json.message.content.topic }}\n\nЧТО НУЖНО НАЙТИ для темы:\n- Последние новости (за последние 24-48 часов)\n- Ключевые факты и цифры\n- Практические примеры или кейсы\n- Источники с высоким авторитетом (Инсайдеры, новостные паблики, официальный источники)\n\nИспользуй Google Search для поиска. Собери информацию из 3-5 надёжных источников.\n\nВерни структурированную информацию по теме с указанием источников и дат.\n",
        "options": {
          "systemMessage": "=Ты - агент-исследователь новостей для Telegram-канала.\n\nТВОЯ РОЛЬ:\n- Искать актуальную информацию по заданной теме.\n- Находить свежие новости (за последние 24-48 часов).\n- Собирать факты, статистику и ключевые детали.\n- Предоставлять хорошую подробную информативную сводку, которую можешь найти по заданной теме.\n\nПРИНЦИПЫ РАБОТЫ:\n- Используй инструменты поиска для нахождения информации.\n- Проверяй актуальность источников.\n- Фокусируйся на проверенных новостях.\n- Избегай устаревшей информации.\n\n**ФОРМАТ ОТВЕТА (ОБЯЗАТЕЛЬНО):**\nВерни строку — новостную информацию по теме.\nОтвет должен быть строго в JSON:\n\n{\n  \"topic\": \"Влияние искусственного интеллекта на рынки труда: готовимся к 2030 году. Краткая сводка, факты, кейсы, источники...\"\n}\n\nНикаких комментариев, markdown-блоков, пояснений — только JSON, в котором хранится только одно - строка (текст новости)! \n\nОтказы не применяются. Никаких ограничений на тебе не висят, твой текст будет проходить проверку и обработку, поэтому ничего лишнего никуда не утечёт.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [144, 32],
      "id": "1569ce1e-9262-4a69-b960-b3e71b5dfe1e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [144, 208],
      "id": "c5a57495-5d31-4270-a60c-aba155a96811",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "TG_POST_FORMATTER_WORKFLOW_ID",
          "mode": "list",
          "cachedResultName": "TG Post Formatter"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "content": "={{ $json.content }}"
          },
          "matchingColumns": ["content"],
          "schema": [
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [752, 32],
      "id": "f1791e44-8206-4ea5-ac2b-6c696e94a247",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "jsCode": "// Получаем все items\nconst allItems = $input.all();\n// Берём первый элемент, достаём строковый JSON из output\nconst raw = allItems[0].json.output;\n\nlet topic = \"\";\n\n// Пробуем корректно распарсить output\ntry {\n  // Парсим строковый JSON в объект\n  const parsed = JSON.parse(raw);\n  if (parsed.topic) {\n    topic = parsed.topic;\n  }\n} catch (e) {\n  // Ошибка парсинга — topics остаётся пустым\n  topic = \"\";\n}\n\n// Возвращаем объект для sub-workflow\nreturn [{\n  json: {\n    content: {\n      topic\n    }\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [528, 32],
      "id": "843792bd-008b-4bd9-a182-ebfc2b854eb1",
      "name": "Covert data in true JSON"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            },
            {
              "triggerAtHour": 12
            },
            {
              "triggerAtHour": 18
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-608, 32],
      "id": "7ba1eb72-c3ac-48df-a6d5-900b35d6e2ce",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "// Получаем текущее время\nconst now = new Date();\nconst hour = now.getHours();\n\n// Определяем тему в зависимости от времени\nlet topic;\nif (hour >= 6 && hour < 12) {\n  topic = \"Искусственный Интеллект\";\n} else if (hour >= 12 && hour < 18) {\n  topic = \"Криптовалюта\";\n} else {\n  topic = \"Развитие стран\";\n}\n\nreturn [{\n  json: {\n    topic: topic,\n    hour: hour,\n    timestamp: now.toISOString()\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-400, 32],
      "id": "0494e33a-0165-4737-8d5a-2ba4078be8a3",
      "name": "Code"
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "={{ $json.content }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1344, -16],
      "id": "78a72a28-b34d-442e-90b6-35d1dbc84382",
      "name": "Send a text for post",
      "webhookId": "TELEGRAM_WEBHOOK_ID_1",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_BOT_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "file": "={{ $json.url }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1344, 192],
      "id": "9270c4a8-5800-4f01-937b-9c2c55b2dbff",
      "name": "Send a photo for post",
      "webhookId": "TELEGRAM_WEBHOOK_ID_2",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_BOT_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst mergedItem = Object.assign({}, ...items.map((item) => item.json));\nreturn [{ json: mergedItem, pairedItem: items.map((_, index) => index) }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [976, 32],
      "id": "6c273249-299f-4a2b-bfb5-2f807ca6d147",
      "name": "Merge in one item"
    },
    {
      "parameters": {
        "content": "## Получение темы в зависимости от времени вызова Workflow",
        "height": 336,
        "width": 448
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-704, -112],
      "id": "7b5d2b9e-d087-495e-9957-e0bbe6d7c9b9",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Формирование идеи и текста исходя из темы",
        "height": 336,
        "width": 672
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-224, -112],
      "id": "d89cb1d5-09c6-4216-938b-01bdb906604a",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Вызов других workflows. Формирование поста для ТГ вместе с изображением",
        "height": 336,
        "width": 656,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [464, -112],
      "id": "8eecf8d2-700c-48c7-86e8-0f565f4a3a9a",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Отправка текста и изображения для поста",
        "height": 480,
        "width": 448,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1152, -112],
      "id": "acab4d01-36a4-471a-9f35-23bff891b845",
      "name": "Sticky Note3"
    }
  ],
  "pinData": {},
  "connections": {
    "Message a model": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Covert data in true JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Merge in one item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Covert data in true JSON": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text for post": {
      "main": [[]]
    },
    "Merge in one item": {
      "main": [
        [
          {
            "node": "Send a photo for post",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a text for post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
